{# templates/teams/_members_list.html #}

<div id="membersList">
  <ul class="list-unstyled team-card-list m-0">
    {% for m in members %}
      <li class="member-item d-flex justify-content-between align-items-center mb-2">
        <span class="text-white">
          {{ m.user.username }}
          {% if m.role == 'captain' %}
            <span class="badge bg-warning text-dark ms-2">Captain</span>
          {% endif %}
        </span>

        {% if user.is_authenticated and team.captain_id == user.id and m.role != 'captain' %}
            <div class="dropdown" data-bs-display="static">
                <button
                class="btn btn-kebab btn-sm"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >
                <i class="bi bi-three-dots-vertical"></i>
                </button>

                <ul class="dropdown-menu dropdown-menu-end glass-menu">
                <li>
                    <a class="dropdown-item d-flex align-items-center gap-2"
                    href="{% url 'teams:transfer_captain' slug=team.slug user_id=m.user.id %}">
                    <i class="bi bi-crown"></i>
                    Сделать капитаном
                    </a>
                </li>

                <li><hr class="dropdown-divider"></li>

                <li>
                    <a class="dropdown-item text-danger d-flex align-items-center gap-2"
                    href="{% url 'teams:remove_member' slug=team.slug user_id=m.user.id %}">
                    <i class="bi bi-person-dash"></i>
                    Исключить
                    </a>
                </li>
                </ul>
            </div>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</div>
