services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: cs2db
      POSTGRES_USER: cs2user
      POSTGRES_PASSWORD: mint123
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped


  web:
    build:
      context: .           
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    env_file:
      - ./.env              
    volumes:
      - .:/app             
      - staticfiles:/app/staticfiles
      - media:/app/media
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  pgdata:
  staticfiles:
  media:
