services:
  db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped


  web:
    build:
      context: .           
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    env_file:
      - ./.env              
    volumes:
      - .:/app             
      - staticfiles:/app/staticfiles
      - media:/app/media
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  pgdata:
  staticfiles:
  media:
