{% load static %}
<div id="match-{{ match.id }}" class="match status-{{ match.status }}">
    <div class="team {% if match.winner_id and match.winner_id == match.team_a_id %} winner {% elif not match.team_a %} waiting {% endif %}">
        <span class="name">
            {% if match.team_a %}
                {% if match.team_a.logo %}
                    <img class="logo" src="{{ match.team_a.logo.url }}" alt="{{ match.team_a.name }}">
                {% endif %}
                {{ match.team_a.name }}
            {% else %}
                <em>Waiting</em>
            {% endif %}
        </span>
        <span class="score">{{ match.score_a }}</span>
    </div>
    <div class="team {% if match.winner_id and match.winner_id == match.team_b_id %} winner {% elif not match.team_b %} waiting {% endif %}">
        <span class="name">
            {% if match.team_b %}
                {% if match.team_b.logo %}
                    <img class="logo" src="{{ match.team_b.logo.url }}" alt="{{ match.team_b.name }}">
                {% endif %}
                {{ match.team_b.name }}
            {% else %}
                <em>Waiting</em>
            {% endif %}
        </span>
        <span class="score">{{ match.score_b }}</span>
    </div>
    <a href="{% url 'tournaments:match_detail' match.tournament.id match.id %}"
    class="match-link"
    title="Go to match #{{ match.id }}">
    <img src="{% static 'tournaments/img/button.png' %}" alt="Go" class="match-icon">
    </a>
</div>
